.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-top: 50px;
}

.container {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    max-width: 800px;
}

.hotel_baner {
    flex: 2;
    overflow: hidden;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #f0f0f0, #dcdcdc);
}

.main_images{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .hotel_baner {
    width: 100%;
    height: 220px;
  }

  .main_images {
    height: 100%;
  }

  .section {
    padding-top: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 25px;
    padding: 20px;
  }

  .hotel_baner {
    width: 100%;
    height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px;
  }

  .hotel_baner {
    width: 100%;
    height: 280px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container {
    gap: 30px;
    padding: 30px;
  }

  .hotel_baner {
    width: 400px;
    height: 300px;
  }
}

@media (min-width: 1441px) {
  .container {
    max-width: 1000px;
  }

  .hotel_baner {
    width: 450px;
    height: 320px;
  }
}

