.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.navMenu {
  display: flex;
  gap: 15px;
}

.navMenu .item {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.navMenu .item:hover {
   box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

.signup {
  background-color: #64c8af;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.signup:hover {
  background-color: #009688;
}

.logo {
  width: 100px;
}

.navContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.item {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: color 0.3s ease;
}

.item.active {
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}


/* //////////// */
.userSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  font-weight: bold;
  color: #444;
}

.logoutBtn {
  background: transparent;
  border: 1px solid #64c8af;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #64c8af;
  transition:  0.2s ease;
}



