@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


::-webkit-scrollbar {
    display: none;
}


html {
    font-size: 100%;
    scroll-behavior: smooth;
}

 body{
    background: #f3f8ff;
    font-family: 'Poppins', sans-serif;

 }


ul, ol ,li {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}